<a title="{{ _('FDM Monster')|edq }}" class="pull-right" href="{{ plugin_fdm_connector_url|escape }}">
    <img src="{{ plugin_fdm_connector_of_favicon|escape }}" style="max-width: 20px"> FDM Monster
</a>
